<app-nav-bar></app-nav-bar>
<div class="back-img p-3">
  <div class="d-flex w-75 p-3 border border-white border-curve">
    <div class="border border-top-0 border-left-0 border-bottom-0 p-3">
      <img src={{product.img}} width="250" height="250">
    </div>
    <div class="style-manjari p-3">
      <p><i>Product Name : {{product.name}}</i></p>
      <p><i>Product Price : {{product.price}}</i></p>
      <p><i>Product Category : {{product.category}}</i></p>
      <p><i>Product Detail : {{product.details}}</i></p>
      <button class="btn btn-primary p-2 mr-3" (click)="goToList()">Back</button>
      <button class="btn btn-success p-2 mr-3" (click)="addToCart()">Add to cart</button>
      <button class="btn btn-danger p-2" (click)="goToEdit()" *ngIf="userStatus">Edit product</button>
    </div>
  </div>
</div>
