.style-manjari
{
font-family: 'Manjari', sans-serif;
font-size:x-large;
font-stretch:wider;
}
.back-img
{
background-image:url("../../assets/apricot-background-berry-1028599.jpg");
background-size:cover;
height:93vh;
}
.border-curve
{
border-radius:60px;
}
