<app-nav-bar></app-nav-bar>
<div class="container">
  <h2 class="text-center">My Profile</h2>
  <div class="row border">
  <div class="col-sm-2 bg-success p-3">
    <img src="./assets/background-carrots-carrying-1327211.jpg" class="rounded-circle mx-auto d-block" width="150" height="150">
    <h3 class="text-center text-white">{{user.fullName}}</h3>
    <p class="text-center text-white">@{{user.userName}}</p>
  </div>
  <div class="col-sm-6 p-3">
    <form>
      <div class="d-flex justify-content-around">
      <div>
      <div class="form-group">
        <label for="nme">Full name</label>
        <input type="text" class="form-control" id="nme" name="fullname" [(ngModel)]="user.fullName">
      </div>
      <div class="form-group">
        <label for="usr">Username</label>
        <input type="text" class="form-control" id="usr" name="username" [(ngModel)]="user.userName">
      </div>
      <div class="form-group">
        <label for="id">User Id</label>
        <input type="text" class="form-control bg-white" id="id" name="userid" [(ngModel)]="user.id" readonly>
      </div>
      <div class="form-group">
        <label for="role">User Role</label>
        <input type="text" class="form-control" id="role" name="role" [(ngModel)]="user.role">
      </div>
      </div>
      <div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="user.password">
      </div>
      </div>
      </div>
      <button class="btn btn-primary ml-4 p-2" (click)="editUser()">Edit & Save</button>
    </form>
  </div>
  </div>
</div>
