<app-nav-bar></app-nav-bar>
<div class="container d-flex justify-content-center mt-2">
  <div class="col-sm-4 p-3 align-self-center border rounded-lg">
    <h3 class="text-center">Add New Product</h3>
    <form>
      <div class="form-group">
        <label for="nme">Product name</label>
        <input type="text" class="form-control" id="nme" name="prodname" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="price">Product Price</label>
        <input type="text" class="form-control" id="price" name="prodprice" [(ngModel)]="price">
      </div>
      <div class="form-group">
        <label for="sel1">Select a product category:</label>
        <select class="form-control" id="sel1" name="cat" [(ngModel)]="category">
          <option value="Vegetables & Fruits">Vegetables & Fruits</option>
          <option value="Snacks & Desserts">Snacks & Desserts</option>
          <option value="Pulses & Cereals">Pulses & Cereals</option>
          <option value="Kitchen Accessories">Kitchen Accessories</option>
        </select>
      </div>
      <div class="form-group">
        <label for="comment">Product Detail:</label>
        <textarea class="form-control" rows="5" id="comment" [(ngModel)]="detail" name="proddetail"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block" (click)="addProduct()">Add Product</button>
    </form>
  </div>
</div>
