<app-nav-bar></app-nav-bar>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">MY SHOPPING CART</h1>
  </div>
</section>
<div class="row">
<div class="col-sm-8">
<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Available</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of product">
      <td><img src={{p.products.img}} height="50" width="50"></td>
      <td (click)="goToDetail(p.products.id)" class="underline">{{p.products.name}}</td>
      <td>In stock</td>
      <td class="d-flex"><button class="btn btn-sm btn-danger" (click)="removeProductFromCart(p.products.id)">-</button><input class="form-control ml-2 mr-2" type="text" [(ngModel)]="p.quantity" /><button class="btn btn-sm btn-success" (click)="addProductToCart(p.products.id)">+</button></td>
      <td>{{p.products.price}}</td>
      <td><button class="btn btn-sm btn-danger" (click)="removeFromCart(p.products.id)"><i class="fa fa-trash"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
  <div class="col-sm-3">
    <div class="d-flex justify-content-around border p-3">
      <div>
        <p>Sub-Total</p>
        <p>Shipping</p>
        <h3>Total</h3>
      </div>
      <div>
        <p>Rs. {{subtotal}}</p>
        <p>Rs. 50</p>
        <h3>Rs. {{total}}</h3>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-2">
      <button class="btn btn-success p-2" (click)="clearCart()">Clear Cart</button>
      <button class="btn btn-success p-2" (click)="goToList()">Continue Shopping</button>
      <button class="btn btn-success p-2" (click)="checkout()">Checkout</button>
    </div>
  </div>
</div>
