<app-nav-bar></app-nav-bar>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link" (click)="showCategory('All')">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="showCategory('Vegetables & Fruits')">Vegetables & Fruits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="showCategory('Snacks & Desserts')">Snacks & Desserts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="showCategory('Pulses & Cereals')">Pulses & Cereals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="showCategory('Kitchen Accessories')">Kitchen Accessories</a>
  </li>
</ul>
<div class="row">
  <div class="col-sm-2">
    <div class="form-group border ml-5 mt-3 p-3 text-center w-100 bg-dark rounded-lg">
      <input class="form-control mb-2" type="text" placeholder="Search Products" name="search" [(ngModel)]="searchbar">
      <button class="btn btn-success" type="submit" (click)="getProductName()">Search</button>
    </div>
    <div class="border border-dark price-range p-4 w-100 m-5 style-manjari">
      <h3 class="text-center">Price Range</h3>
      <hr/>
      <div class="d-flex flex-column justify-content-around">
        <div class="pt-2"><input type="checkbox" value="0-499" [(ngModel)]="isActive1" (change)="isActive1?showPriceRange(0,499):showCategory(this.category)" name="cb">0-499</div>
        <div class="pt-2"><input type="checkbox" value="500-999" [(ngModel)]="isActive2" (change)="isActive2?showPriceRange(500,999):showCategory(this.category)" name="cb">500-999</div>
        <div class="pt-2"><input type="checkbox" value="1000-2999" [(ngModel)]="isActive3" (change)="isActive3?showPriceRange(1000,2999):showCategory(this.category)" name="cb">1000-2999</div>
        <div class="pt-2"><input type="checkbox" value="over 3000" [(ngModel)]="isActive4" (change)="isActive4?showPriceRange(3000,10000):showCategory(this.category)" name="cb">over 3000</div>
      </div>
    </div>
  </div>
  <div class="col-sm-10 d-flex flex-wrap justify-content-center">
    <div *ngFor="let d of products" class="border border-dark p-4 m-4 d-flex flex-column align-items-center justify-content-around w-25 hover-effect" (click)="goToDetails(d.id)">
      <img src={{d.img}} height="200" width="200">
      <h5 class="text-center style-manjari">{{d.name}}</h5>
      <p class="text-secondary">~Rs {{d.price}}~</p>
      <button class="btn btn-success rounded-lg p-2">View Product</button>
    </div>
  </div>
</div>
