<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Welcome to ShoppingBee</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="goToHome()">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToMyProfile()">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToAddProducts()" *ngIf="userStatus">Add New Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToOrderHistory()">Order History</a>
    </li>
  </ul>

  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="goToCart()">My Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
