<app-nav-bar></app-nav-bar>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">MY ORDER HISTORY</h1>
  </div>
</section>
<div class="container">
  <table class="table table-stripped">
    <thead>
    <tr>
      <th>UserId</th>
      <th>Product</th>
      <th>Date</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let o of order">
      <td>{{o.userid}}</td>
      <td>{{o.productName}}</td>
      <td>{{getProperDate(o.date)}}</td>
      <td>{{o.price}}</td>
      <td>{{o.quantity}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!--<div class="d-flex justify-content-around border" *ngFor="let o of order">
  <p>{{o.userid}}</p>
  <p>{{o.productName}}</p>
  <p>{{getProperDate(o.date)}}</p>
  <p>{{o.price}}</p>
  <p>{{o.quantity}}</p>
</div>-->
