<app-nav-bar></app-nav-bar>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item item1 active">
      <div class="d-flex h-100 align-items-center justify-content-center">
        <div class="text-center">
          <h1 class="display-3">100% FRESH & ORGANIC FOODS</h1>
          <p>GROCERIES AND MORE, DELIVERED STRAIGHT TO YOUR DOOR!</p>
          <button class="btn btn-success p-3" (click)="goToPlist()">View Details</button>
        </div>
      </div>
    </div>
    <div class="carousel-item item2">
      <div class="d-flex h-100 align-items-center justify-content-center">
        <div class="text-center">
          <h1 class="display-3">WE SERVE FRESH VEGETABLES &<br/> FRUITS</h1>
          <p>REAL SAVINGS. REAL FRESH.</p>
          <button class="btn btn-success p-3" (click)="goToPlist()">View Details</button>
        </div>
      </div>
    </div>
    <div class="carousel-item item3">
      <div class="d-flex h-100 align-items-center justify-content-center">
        <div class="text-center text-white">
          <h1 class="display-3">MAKE DELICIOUS RECIPES WITH OUR FRESH INGREDIENTS</h1>
          <p>MAKING MUMS LIFE EASY!</p>
          <button class="btn btn-success p-3" (click)="goToPlist()">View Details</button>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

