.carousel-item
{
    	height: 100vh;
    	background-size: cover;
    	background-position: center center;
}
.item1
{
background-image:url("../../assets/apricot-background-berry-1028599.jpg");
}
.item2
{
background-image:url("../../assets/antioxidant-beverage-blended-1328887.jpg");
}
.item3
{
background-image:url("../../assets/blurred-background-bowl-cuisine-842545.jpg");
}
.carousel-item h1
{
 font-family: 'Pacifico', cursive;
 font-family: 'Gilda Display', serif;
 //font-size:3em;
}
.carousel-item button
{
border-radius:60px;
}
.carousel-item p,button
{
 font-family: 'Pacifico', cursive;
 font-family: 'Gilda Display', serif;
 font-family: 'Roboto', sans-serif;
}
